header{
  text-align: center;
}


nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

figcaption {
  font-size: 10px;
}

#featured-property {
 text-align: center;
}

#featured-property p{ 
  width: 800px;
  padding: 10px;
  margin-left: 500px;
}

  div {
    float: left;
  background-color: red;
  width: 25%;
  text-align: center;
   
  }
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
